ul{
  list-style-type: none;
}


/* Login Page*/

.login_register_btn{
  margin-left: 27%;
  color: green;
}

.loginBox2 {
  padding-bottom: 20px;
  background-color: #f1e7da;
  width: 300px;
  box-shadow: 1px 5px 5px #888888;
  margin-left: 33%;
}
.logintitle{
  margin-left: 21%;
}
hr {
  border-top: 1px solid black;
}
/*

.loginbutton {
  text-align: center;
  margin-left: 35%;
}
*/
