{% extends "layout.html" %}
{% block body %}
<div class="container loginBox">

  <div class="col-md-4 loginBox2">
    <h3 class="logintitle">LOGIN/REGISTER</h3>
    <hr style="border-top: 1px solid black;">
    <form action="/login_form" method="POST">
      <fieldset class="form-group">
        <label for="formGroupExampleInput">Username</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username" name="username">
      </fieldset>
      <fieldset class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="be creative" name="password">
      </fieldset>
      <fieldset class="login_register_btn">
        <button class="btn loginbutton" type="submit" name="action" value="login">Login</button>
        <button class="btn loginbutton" type="submit" name="action" value="register">Register</button>
      </fieldset>
    </form>

  </div>
</div>




{% endblock %}


<form action="/login_form" method="POST">
  <fieldset class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username" name="username">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="be creative" name="password">
  </fieldset>
</form>
